#Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#RuntimeData
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings
.npm
.eslintache
.node_repl_history
.tgz
.yarn-integrity
.env
#archivos de conexion
public/
bot/
controllers/
exports/
helpers/payloadFB.js
helpers/ws_miMovistar.js
helpers/ws_miMovistarNode.js
helpers/ws_miMovistarUnirest.js
helpers/beginLogin.js
